@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

.App{
  min-height: 100%;
  color: white;
  background:linear-gradient(#2204e4,#473570,#313232);
}